:root { 
--gray_52:#f5f9ff; 
--blue_A702:#0065ff; 
--gray_51:#f9fbff; 
--blue_A701:#0a58ff; 
--bluegray_50:#eaecf0; 
--gray_53:#f4f8ff; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_A200:#4d90ff; 
--green_600:#349765; 
--gray_50:#f8f9fa; 
--gray_300_99:#e4e4e499; 
--black_900:#000000; 
--black_901:#090b0d; 
--yellow_900:#f7931a; 
--blue_A700_7e:#0061ff7e; 
--gray_700_11:#55555511; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--gray_901:#11142d; 
--blue_800:#0051d5; 
--gray_902:#09101d; 
--red_A200:#fe555d; 
--orange_A700:#ff6700; 
--gray_900:#151522; 
--bluegray_100:#d6dae2; 
--blue_50:#e0ebff; 
--bluegray_900:#262b35; 
--bluegray_701:#535353; 
--bluegray_700:#424c5d; 
--gray_700_26:#55555526; 
--bluegray_600:#5f6c86; 
--bluegray_401:#808191; 
--bluegray_400:#74839d; 
--bluegray_300:#9ea8ba; 
--bluegray_200:#bac1ce; 
--gray_800_2b:#4545452b; 
--white_A700:#ffffff; 
--bluegray_901:#24363c; 
}